<div class="panel panel-default" style="margin-left:50px;margin-right:50px"><div class="panel-body">
  <div style="display: inline-block">
    <label> pid/昵称: </label>
  </div>
  <div style="display: inline-block">
    <input placeholder="pid/nick" class="input form-control" ng-model="vm.pid">
  </div>
  <div style="display: inline-block">
    <button class="btn btn-success" ng-click="vm.search()">搜索</button>
  </div>

  <br>

  <div ng-if="vm.pid==vm.playerinfo.pid || vm.pid==vm.playerinfo.nick">
    <div class="well" style="margin-top: 10px">
      <button class="btn btn-success" ng-click="vm.sendMail()">发邮件</button>
      <button class="btn btn-success" ng-click="vm.blockChat(vm.playerinfo.pid)">禁言{{vm.blockchat>0 ? "(剩" + vm.blockchat + "秒)":""}}</button>
      <button class="btn btn-success" ng-click="vm.blockLogin(vm.playerinfo.pid)">封号{{vm.blocklogin>0 ? "(剩" + vm.blocklogin + "秒)":""}}</button>
      <button class="btn btn-success" ng-click="vm.blockDevice(vm.playerinfo.pid)">封设备{{vm.blockdevice>0 ? "(剩" + vm.blockdevice + "秒)":""}}</button>
    </div>

    <div>
      <input placeholder="筛选" class="input form-control" ng-model="vm.shaixuan">
    </div>
    <table width="100%" class="table table-striped table-bordered" style="margin-top: 10px" >
      <tr>
        <th>key</th>
        <th>value</th>
      </tr>
      <tr ng-repeat="x in vm.playerinfolist | filter: { k: vm.shaixuan}">
        <td>{{x.k}}</td>
        <td><pre>{{vm.conv(x.v)}}</pre></td>
      </tr>
    </table>
  </div>
</div></div>

